---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jack">
  <main class="ml-8">
    <div class="text-6xl font-bold pb-2">blog</div>
    <div class="text-lg text-gray-600 dark:text-gray-400 max-w-sm mt-2">
      Some writings
    </div>
  </main>
</Layout>
