---
const posts = await Astro.glob("../pages/post/*.md");
import Card from "../components/projectCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jack">
  <main class="ml-8">
    <div class="text-6xl font-bold pb-2 text-white">blog</div>
    <div class="text-lg text-gray-600 dark:text-gray-400 max-w-sm mt-2">
      A list of blog posts of mine.
    </div>
    <div class="text-lg text-gray-600 dark:text-gray-400 max-w-sm mt-8">
      {
        posts.map((data) => (
          <div>
            <Card
              title={data.frontmatter.title}
              desc={data.frontmatter.description}
            />
          </div>
        ))
      }
    </div>
  </main>
</Layout>
