---
import Hero from "../components/hero.astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/projectCard.astro";
import Links from "../components/links.astro";
import { ProjectData } from "../lib/notable";
---

<Layout title="Jack">
  <Hero />
  <div class="ml-8 mt-8 mr-8">
    <div class="text-2xl font-medium dark:text-white pb-4">projects</div>
    <div class="mt-8 space-y-6">
      {
        ProjectData.map((data) => (
          <Card title={data.title} link={data.href} desc={data.description} />
        ))
      }
      <br />
      <a
        href="https://github.com/jackkslash"
        class="text-slate-300 underline underline-offset-2decoration-2 decoration-slate-800"
        >more projects...</a
      >
    </div>
    <Links />
  </div>
</Layout>
