---
import HeroLinks from "../components/HeroLinks";
import Layout from "../layouts/Layout.astro";
import Card from "../components/projectCard.astro";
import { ProjectData } from "../lib/notable";
---

<Layout title="Jack">
  <HeroLinks client:load />
  <div class="ml-8 mt-8">
    <div class="text-3xl font-bold dark:text-white pb-4">notable projects</div>
    <div class="text-lg text-gray-600 dark:text-gray-400 max-w-m mt-2">
      A list of all notable projects I've worked on or I'm currently working on.
      For the full list visit the <a
        href="/projects"
        class="text-white underline underline-offset-4">projects page</a
      >.
    </div>
    <div class="mt-8 space-y-6">
      {
        ProjectData.map((data) => (
          <Card title={data.title} link={data.href} desc={data.description} />
        ))
      }
    </div>
  </div>
</Layout>
