---
import Layout from "../layouts/Layout.astro";
import Card from "../components/projectCard.astro";
---

<Layout title="Jack">
  <main class="ml-8">
    <div class="text-6xl font-bold pb-2 text-white">projects</div>
    <div class="text-lg text-gray-600 dark:text-gray-400 max-w-sm mt-2">
      A list of all the projects I've worked on or I'm currently working on.
    </div>
    <div class="mt-8">
      <Card />
    </div>
  </main>
</Layout>
