---
import { JobIcon, LocationIcon, ResumeIcon } from "../lib/icons";
import TypingName from "./typingName.astro";
---

<main class="mx-8">
    <!-- <div class="text-2xl font-medium dark:text-white pb-4">jack faulkner</div> -->
    <TypingName name="jack faulkner" />
    <div
        class="flex items-center gap-2 text-lg text-gray-600 dark:text-gray-400 max-w-sm"
    >
        <LocationIcon />
        england, united kingdom
    </div>
    <div
        class="flex items-center gap-2 text-lg text-gray-600 dark:text-gray-400 max-w-sm"
    >
        <JobIcon />
        software engineer
    </div>
    <div
        class="flex items-center gap-2 text-lg text-gray-600 dark:text-gray-400 max-w-sm"
    >
        <ResumeIcon />
        <a
            class="flex items-center cursor-pointer fill-current focus:outline-none transition duration-300 ease-in-out hover:text-indigo-900 dark:hover:text-indigo-200"
            rel="noopener noreferrer"
            target="_blank"
            href="mailto:jackfaulknerbis@hotmail.co.uk">hire me?</a
        >
    </div>
    <div class="text-gray-600 dark:text-gray-400 lowercase pt-4">
        <p>software engineer looking for my next gig.</p>
    </div>
</main>
