---
import { UpRightArrowIcon } from "../lib/icons";
---

<div class="mt-8">
    <p class="text-2xl font-medium dark:text-white pb-2">links</p>
    <div class="grid grid-flow-col w-48 text-lg gap-2">
        <a
            href="https://github.com/jackkslash"
            class="flex items-center cursor-pointer fill-current focus:outline-none transition duration-300 ease-in-out hover:text-indigo-900 dark:hover:text-indigo-200"
        >
            github
            <UpRightArrowIcon />
        </a>
        <a
            href="https://twitter.com/jackkslash"
            class="flex items-center cursor-pointer fill-current focus:outline-none transition duration-300 ease-in-out hover:text-indigo-900 dark:hover:text-indigo-200"
        >
            twitter
            <UpRightArrowIcon />
        </a>
        <a
            href="https://www.linkedin.com/in/jackaaronfaulkner/"
            class="flex items-center cursor-pointer fill-current focus:outline-none transition duration-300 ease-in-out hover:text-indigo-900 dark:hover:text-indigo-200"
        >
            linkedin
            <UpRightArrowIcon />
        </a>
        <a
            class="flex items-center cursor-pointer fill-current focus:outline-none transition duration-300 ease-in-out hover:text-indigo-900 dark:hover:text-indigo-200"
            rel="noopener noreferrer"
            target="_blank"
            href="mailto:jackfaulknerbis@hotmail.co.uk"
        >
            email
            <UpRightArrowIcon />
        </a>
    </div>
</div>
