---
const { title, link, desc } = Astro.props;
---

<a class="flex flex-col justify-between" href={link}>
  <p
    class="text-lg font-medium lowercase text-slate-300 sm:text-xl underline underline-offset-2 decoration-2 decoration-slate-800"
  >
    {title}
  </p>

  <p class="mt-2 text-sm sm:block dark:text-gray-400">{desc}</p>
</a>
