---
const { name } = Astro.props;
---

<div class="text-2xl font-medium dark:text-white pb-4">
    <span class="dark:text-white name"></span>
    <span class="dark:text-white cursor -ml-[10px]">█</span>
</div>

<script define:vars={{ name }}>
    document.addEventListener("DOMContentLoaded", () => {
        const nameElement = document.querySelector(".name");
        const cursorElement = document.querySelector(".cursor");
        let index = 0;

        function typeCharacter() {
            if (index < name.length) {
                nameElement.textContent = name.slice(0, index + 1);
                index++;
                setTimeout(typeCharacter, 100);
            } else {
                cursorElement.classList.add("animate-blink");
                cursorElement.classList.remove("-ml-[10px]");
            }
        }

        typeCharacter();
    });
</script>

<!-- <style>
    @keyframes blink {
        0%,
        100% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
    }
    .animate-blink {
        animation: blink 0.9s infinite;
    }
</style> -->
